In [3]:
#두 수 비교하기

num1 = int(input("첫 번째 정수를 입력하세요: "))
num2 = int(input("두 번째 정수를 입력하세요: "))

if num1 > num2:
  print(f"{num1}은 {num2}보다 큽니다.")
elif num1 < num2:
  print(f"{num1}은 {num2}보다 작습니다.")
else:
  print(f"{num1}은 {num2}와 같습니다.")

첫 번째 정수를 입력하세요: 43
두 번째 정수를 입력하세요: 86
43은 86보다 작습니다.

In [17]:
#세 수 중에서 큰 수 판별하기

num1 = int(input("첫 번째 정수를 입력하세요: "))
num2 = int(input("두 번째 정수를 입력하세요: "))
num3 = int(input("세 번째 정수를 입력하세요: "))
max_num = num1

if max_num < num2:
  max_num = num2

if max_num < num3:
  max_num = num3

print(f"입력하신 세 수 {num1}, {num2}, {num3} 중에서 가장 큰 수는 {max_num}입니다.")

첫 번째 정수를 입력하세요: 1
두 번째 정수를 입력하세요: 2
세 번째 정수를 입력하세요: 3
입력하신 세 수 1, 2, 3 중에서 가장 큰 수는 3입니다.

In [14]:
#학점 판별하기

score = int(input("시험점수를 입력하세요."))

if 0 <= score <= 100:
  if score >= 90:
    print(f"A 입니다.")
  elif score >= 80:
    print(f"B 입니다.")
  elif score >= 70:
    print(f"C 입니다.")
  elif score >= 60:
    print(f"D 입니다.")
  else:
    print(f"F 입니다.")
else:
  print(f"점수는 0부터 100사이의 값이어야 합니다.")

시험점수를 입력하세요.90
A 입니다.

In [16]:
#윤년 판별하기

year = int(input("연도를 입력하세요."))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
  print(f"{year}년은 윤년입니다.")
else:
  print(f"{year}년은 윤년이 아닙니다.")

연도를 입력하세요.2024
2024년은 윤년입니다.

In [18]:
for i in range(5):
  print("반복!", i)

반복! 0
반복! 1
반복! 2
반복! 3
반복! 4

In [19]:
#1~5를 만들기 위해 1을 더하는 방식
for i in range(5):
  print("반복!",i+1)

반복! 1
반복! 2
반복! 3
반복! 4
반복! 5

In [23]:
#1~5를 만들기 위해 시퀀스를 바꾸는 방식
for i in range(1, 6):
  print(i)

1
2
3
4
5

In [26]:
#1~5를 만들기 위해 리스트를 사용하는 방식
#데이터에서 중요함! 시험에 나옴!!!
for i in [1,2,3,4,5]:
  print(i)

1
2
3
4
5

In [29]:
count = 0 #start
while count < 3: #end
  print("반복중: ", count)
  count += 1 #add

반복중:  0
반복중:  1
반복중:  2

In [42]:
# 문제 1: 1부터 N까지의 합 계산하기
n_str = input("양의 정수 N을 입력하세요: ")
n = int(n_str)

if n <= 0:
   print("N은 양의 정수여야 합니다.")
else:
    total = 0
    for i in range(1, n + 1):
      total += i
    print(f"1부터 {n}까지의 합은: {total} 입니다.")

양의 정수 N을 입력하세요: 10
1부터 10까지의 합은: 55 입니다.

In [43]:
#문제 4: 특정 조건까지 반복하기 (while 루프)
count = 0
print("0부터 9까지 출력:")

while count < 10:
  print(count)
  count += 1
print("while 루프 종료")

0부터 9까지 출력:
0
1
2
3
4
5
6
7
8
9
while 루프 종료

In [48]:
#문제 4: 특정 조건까지 반복하기 (for 구문)
print("0부터 9까지 출력: ")
for i in range(0,10):
  print(i)
print("for 루프 종료")

0부터 9까지 출력:
0
1
2
3
4
5
6
7
8
9
for 루프 종료