<a href="https://colab.research.google.com/github/Yuri814/AIpython/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num_ab = map(int, input().split())
a, b = num_ab

if 0 < a < 100 and 0 < b < 100:
  print(f'{a-b}')
  print(f'{a*b}')
else:
  print()

8 5
3
40

**
***
****
*****

In [ ]:
for i in range(5, 0, -1):
  print("*"*i)
for i in range(2, 6):
  print("*"*i)

*****
****
***
**
*
**
***
****
*****